<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Assignment Form</title>
</head>
<body>
    <h1>Add an Assignment</h1>
    <form method="post">
        <p>
        <label for="name">Assignment Name</label>
        <input type="text" id="name" name="name">
        </p>
        <p>
        <label for="score">Your Score</label>
        <input type="number" id="score" name="score">
        </p>
        <p>
        <label for="total">Total Possible Score</label>
        <input type="number" id="total" name="total">
        </p>
        <p>
        <input type="checkbox" id="total" name="total">
        <label for="completed">Have you completed this assignment?</label>
        <button type="submit">Add</button> <a href="/">Go Back</a>
        </p>
        

    </form>
</body>
</html>